* {
  box-sizing: border-box;
  padding: 0px;
  font-family:  helvetica, sans-serif;
}
.header {
  height: 43px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  gap: 50px;
}
.sub-header {
  justify-content: space-between;
}

.title-header{
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.header-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.subcribe-button{
  display: flex;
  width: 122px;
}
.text-subcribe-button{
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  background-color: rgb(222, 48, 35);
}
.line-header{
  width: 1%;
  background-color: rgb(97, 97, 97);
}
.text-red {
  color: red;
}
.nav-bar {
  background-color: rgb(0, 0, 0);
  height: 70px;
  color: #fff;
  align-items: center;
  margin-top: 1px;
  
}
.favion {
  justify-content: end;
  margin-left: -40px;
}
.btn-outline-danger{
  border-radius: 10px;
  color: #fff;
  border: 0px;
}
.btn-outline-danger:hover{
  background-color: rgb(198, 34, 34);
}
.nav-bar .btn .btn-outline-danger {
  width: 122px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
}
.service-user {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.infor-race-now {
  background-color: rgb(61, 47, 47);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.info {
  text-align: center;
}
.button-icon {
  border-radius: 5px;
  background-color: rgb(187, 34, 34);
  color: #fff;
  width: 40px;
  height: 40px;
  border: 0px;
}
.header-calendar {
  padding-top: 30px;
  padding-left: 50px;
  font-size: 30px;
  font-weight: 800;
  line-height: 15px;
  color: #fff;
  width: 100%;
  justify-content: start;
  text-align: center;
  
}
.group-choice {
  width: 90%;
  justify-items: center;
  margin: 0px auto;
  padding: 20px;

  background-color: white; /* Màu nền */
            padding: 20px;           /* Khoảng cách bên trong */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
            transition: box-shadow 0.3s; 
}
.calendar {
 
  margin: 0px auto;
  background-color: white; /* Màu nền */
            padding: 20px;           /* Khoảng cách bên trong */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
            transition: box-shadow 0.3s; 

}
.main-calendar {
  width: 90%;
  justify-items: center;
  margin: 0px auto;
  padding: 20px;

}
.content-large {
  font-size: 40px;
  font-weight: 800;
  line-height: 15px;
  text-align: start;
}
.newsletter-section {
  background-color: #1d1d1d;
  color: white;
}

.sponsors img {
  max-height: 80px;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  color: #666;
}

.app-links img {
  width: 150px;
  margin: 0 10px;
}

.social-media i {
  margin: 0 10px;
  color: #333;
}
.list-brand {
  width: 40%;
}
.choice-option{
  color: #fff;
  padding-left: 64px;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
}
.choice-option a{
  text-decoration: none;
  color: #fff;
}
.card {
  width: 20rem;
  height: 25rem;
  border: 0px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 99, 71, 0.7)); 
  
}
.card-img {
  padding: 20px;
}
.img-rider{
  width: 32rem;
  margin-left: -70px;
  padding-top: 30px;
}
.card-img-overlay {
  margin-top: 290px;
  background: linear-gradient(to right, black, rgb(139, 0, 0));
}
.content-medium-1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
}
.content-medium {
  font-size: 25px;
  font-weight: 900;
  line-height: 15px;
}
.name_rider{
  margin-left: -50px;
}
.container-card-rider{
  padding: 0px;
}
.rider-banner {
  margin-top: 162px;  
  background: linear-gradient(to right, black, rgb(72, 21, 21));
  height: 550px;
  overflow: hidden; 
}
.custom-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #aaa7a7;
}
.content-medium h1 {

  font-weight: 900;
  line-height: 15px;
}
.current-season {
  font-size: 25px;
}
.background-grey {
  border: 1px;
  background-color: rgb(20, 20, 20);
  width: 50%;
}
.text-title-score {
  font-size: 10px;
  font-weight: 300;
  color: #fff;
}
.point {
  font-size: 30px;
  font-weight: 700;
}
.rider-title-info {
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
}
.rider-bio {
  background-color: white; /* Màu nền */
            padding: 20px;           /* Khoảng cách bên trong */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
            transition: box-shadow 0.3s; 
            font-size: 20px;
            font-weight: 500;
}
.all-rider, .info-title {
  text-align: start;
}
.img-team{
  width: 20rem;
  margin-left: 0px;
  padding-top: 30px;
  object-fit: cover; /* Cắt ảnh nếu cần, giữ tỷ lệ */
  overflow: hidden; /* Ẩn phần ảnh tràn ra ngoài */
}
.card-team {
  background: rgba(0, 0, 0, 0.5); /* Nền màu đen với độ trong suốt */
    backdrop-filter: blur(20px); /* Hiệu ứng mờ */
    z-index: 1;
    text-align: start;
}
.team-mate {
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  color: #aaa7a7;
}
.img-team-1{
  width: 15rem;
  margin-left: 0px;
  margin-top: -60px;
  object-fit: cover; /* Cắt ảnh nếu cần, giữ tỷ lệ */
  overflow: hidden; /* Ẩn phần ảnh tràn ra ngoài */
}
/* .info-title {
  text-align: start;
} */
/* body tr td .info-title {
  color: grey !important;
} */
/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
